/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Michroma&display=swap');

/* Set root color variables */
:root {
    --primary-color: #000000;
    --secondary-color: #FAFAF9;
    --alt-primary-color: #191A1A;
    --alt-secondary-color: #FACF9F;
    --accent-color: #F56D24;
}

/* Set darkmode variables (default) */
/* .darkmode {
    --primary-color: #213C4E;
    --secondary-color: #FFF0CC;
    --alt-primary-color: #152532;
    --alt-secondary-color: #FFF;
    --accent-color: #BBBDA7;
    --alt-accent-color: #ACAE93; 
} */

/* Set lightmode variables */
/* .lightmode {
    --primary-color: #FFF0CC;
    --secondary-color: #213C4E;
    --alt-primary-color: #FFF;
    --alt-secondary-color: #152532;
    --accent-color: #ACAE93;
    --alt-accent-color: #BBBDA7;
} */

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

main {
    display: inline-block;
    padding: 1rem;
}

h1, h2 {
    font-family: 'Michroma', Arial, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3, h4, h5, h6, p {
    font-family: 'Michroma', Arial, sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.1rem;
}

p {
    font-family: 'Epilogue', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
}

main {
    width: 100%;
}

.bech32-id {
    word-break: break-all;
}

.cta-btn {
    display: inline-block;
    color: var(--secondary-color);
    background-color: var(--alt-primary-color);
    outline: 2px solid var(--accent-color);
    font-family: 'Michroma', Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

.cta-btn:hover {
    color: var(--primary-color);
    background: linear-gradient(180deg, #fd1f0f, #f88a0d);
    outline: 2px solid var(--secondary-color);
}

.social-icon {
    fill: var(--secondary-color);
    height: 2.5rem;
}

.social-icon:hover {
    fill: var(--accent-color);
}

/* Page-specific Styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-container a {
    margin: 0.25rem;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-container * {
    margin: 0.5rem 0;
}

.nodes-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    text-align: center;
}

/* Standard gradient info card */
/* .info-card {
    color: var(--primary-color); */
    /* background-color: var(--accent-color); */
    /* background: linear-gradient(180deg, #fd1f0f, #f88a0d);
    height: 400px;
    width: 300px;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
} */

/* .info-card * {
    padding: 0.5rem 0;
} */

/* .info-card:hover {
    outline: 4px solid var(--alt-secondary-color);
} */

/* Animated gradient info card */
.node-card {
    color: var(--secondary-color);
    background-color: var(--alt-primary-color);
    margin: 0.5rem;
    border-radius: 1rem;
    position: relative;
}

.node-card * {
    padding: 0.5rem 0;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.node-card::after, .node-card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red, orange, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -10;
    padding: 3px;
    border-radius: 1rem;
    animation: 3s spin linear infinite;
}

.node-card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--alt-primary-color);
    padding: 0.5rem;
    margin: 0.5rem;
    border: solid 1px var(--secondary-color);
    border-radius: 1rem;
}

.content-container svg {
    fill: var(--accent-color);
}

.content-container h2 {
    padding-bottom: 0.5rem;
}

.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 275px;
}

.stats-container {
    background-color: var(--alt-primary-color);
    text-align: center;
    font-family: 'Michroma', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    border: solid 1px var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;;
}

.stats-container svg {
    fill: var(--accent-color)
}

.stats-container a {
    color: var(--accent-color);
    text-decoration: none;
}

.stats-container a:hover {
    text-decoration: underline;
}

.stat {
    color: var(--accent-color)
}

#pool-stats-link {
    font-size: 0.5rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

footer p {
    font-size: 0.8rem;;
}

footer img {
    width: 100px;
}

/* Media Queries */
@media(max-width: 430px) {
    html {
        font-size: 12px;
    }
}

@media(max-width: 650px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
